name: what_time_is_it
run-name: Deploy to ${{ inputs.deploy_target }} by @${{ github.actor }}

on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          repository: EpitechPromo2027/B-DOP-200-NAN-2-1-bschocolatine-thomas.boue
      - name: List files in repo
        run: ls

      - name: Print the branch name
        run: echo "${branch}"

      - name: i don't know yet
        run: du -skh --exclude=".git"